:root{
  --sucess-color:#2ecc71;
  --error-color:#e74c3c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Open Sans",sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;

  min-height: 100vh;
}

.container{
  border-radius: 1rem;
  background-color: #fff;
  /* padding: 4rem; */
  box-shadow: 0 1px 10px rgba(0, 0 ,0,0.6);
  width: 30rem;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 3rem 4rem;
}

.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.form-control label{
  align-self: flex-start;
  color: #777;
  font-size: 1.4rem;

  margin-bottom: .5rem;
}

.form-control input{
  border: .2rem   solid #f0f0f0;
  border-radius: .4rem;

  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
}

.form-control input:focus{
  outline: 0;
  border-color: #777;
}
.form-control input::placeholder{
  outline: 0;
  color: #777;
}

.form-control.success input{

  border-color: var(--sucess-color);
}
.form-control.error input{
  border-color: var(--error-color);
}
.form-control small{
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small{
  visibility: visible;
  display: block;
  margin: 1rem;
}

.form button{
  cursor: pointer;
  background-color:blue;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  outline: transparent;
  border-color: transparent;
}


.signin__text{
  color:#777;
  font-size: 1.3rem;
}
.signin__link{
  text-decoration: none;
  font-size: 1.4rem;
  color: gold;

}